 @font-face {
 	font-family: Muiicons;
 	font-weight: normal;
 	font-style: normal;
 	src: url('../fonts/icomoonPage2.ttf') format('truetype');
 }
 
body{
	margin: 0;
	padding: 1rem;
	background: #F6F6F6;
	touch-action: none;
}

.mui-icon.mui-icon-clear:before{
	color: #e3f6ff;
	font-size: 2rem;
}

#header{
	margin: 0;
	padding: 0;
}

#headerbox{
	height: 6rem;
	background: #0fa1ff;
	opacity: 1;
}

.mui-bar-nav~.mui-content{
	padding-top: 4rem;
	padding-bottom: 6.125rem;
	
}

.unnormal{
	background: #FFF68F;
}


.left-daohang{
	padding-left:3.188rem;
	float: left;
}

#empname{
	width: 6.563rem;
	height: 2.125rem;
	font-family: PingFang-SC-Medium;
	font-size: 2.25rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	line-height: 5.5rem;
	color: #ffffff;
}

#bedname{
	width: 5.875rem;
	height: 1.75rem;
	font-family: PingFang-SC-Medium;
	font-size: 1.875rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	margin-left: 0.688rem;
}

.right-daohang{
	padding-right: 1.875rem;
	float: right;
	overflow: hidden;
	text-align: right;
}
.right-daohang>div,.right-daohang>div>div{
	float: left;
}
.icon-yizhu:before {
 	content: '\e922';
	width: 2.563rem;
	height: 2.813rem;
 }
 
 .yz{
	width: 3.5rem;
	height: 1.688rem;
	font-family: PingFang-SC-Medium;
	font-size: 1.875rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	margin-right: 4.375rem;
	line-height: 5.5rem;
 }
 
 
 .icon-bq:before {
 	content: "\e920";
	width: 3.188rem;
	height: 2.813rem;
	margin-right: 0.688rem;
 }
 
 .bq{
	width: 3.625rem;
	height: 1.75rem;
	font-family: PingFang-SC-Medium;
	font-size: 1.875rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	margin-right: 3.438rem;
	line-height: 5.5rem;
 }
 
 .icon-return:before{
 	content: "\e921";
	width: 2.688rem;
	height: 2.875rem;
	margin-right: 0.688rem;
 }
 
 .return{
	width: 3.5rem;
	height: 1.75rem;
	font-family: PingFang-SC-Medium;
	font-size: 1.875rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	line-height: 5.5rem;
 }
 
 .icon-yizhu,.icon-bq,.icon-return{
	font-size: 3.25rem !important;
	line-height: 4.25rem !important;
	color: #FFFFFF;
}
 
 #item_div{
 	height: 10.188rem;
 	background-color: #F6F6F6;
 }
 #item_div>div{
	float: left;
}
 #item_div>div>div{
	font-family: PingFang-SC-Medium;
	font-size: 1.75rem;
	font-weight: normal;
	font-stretch: normal;
	color: #333333;
 }
#item_left_div{
	width: 45%;
	height: 10.188rem;
} 
#item_right_div{
	width: 55%;
	height: 10.188rem;
} 

#item_left_div>div{
	height: 5.094rem;
	line-height: 5.094rem;
	padding-left: 1.313rem;
}

#item_right_div>div{
	height: 5.094rem;
	line-height: 5.094rem;
}

#title_div{
	height: 4.5rem;
	font-size: 1.625rem;
	line-height: 4.5rem;
	box-shadow: 0 2px 0 rgba(15,161,255,.5);
	z-index: 10;
	background: #F6F6F6;
}

.mui-bar{
	box-shadow: none;
}

#title_div>div{
	font-family: PingFang-SC-Medium;
	font-size: 1.625rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #333;
	float: left;
	text-align: center;
}

#content_div{
	width: 100%;
}
#content_div>div>div{
	height: 4rem;
	font-size: 1.625rem;
	letter-spacing: -0.037rem;
	color: #666666;
	text-align: center;
	line-height: 4rem;
	border-bottom: 1px solid rgba(136,136,136,0.1);
}

#content_div>div>div:last-child{
	border-bottom: none;
}

#content_div>div>div>div{
	float: left;
}

.title-1,.content-1{
	width: 10%;
}

.title-2,.content-2{
	width: 30%;
}

.title-3,.content-3{
	width: 18%;
}

.title-4,.content-4{
	width: 20%;
}
.title-5,.content-5{
	width: 22%;
}

.footer{
	height: 6.125rem;
	background-color: #ffffff;
	border: none !important;
}

.footer>span{
}

.p-all:before{
	content: '\e919';
	font-size: 1.5rem;
}

.p-main:before{
	content: '\e91d';
	font-size: 2rem;
}

.p-wz:before{
	content: '\e91b';
	font-size: 2rem;
}

.p-gz:before{
	content: '\e915';
	font-size: 2rem;
}

.p-hz:before{
	content: '\e917';
	font-size: 2rem;
}



@media only screen and (max-width: 1279px) {
	.left-daohang{
		padding-left:2rem;
	}
	.right-daohang{
		/*padding-left: 3rem;*/
		padding-right: 1.188rem;
	}
	.icon-yizhu:before {
		margin-right:0.5rem;
	 }
	 
	 .yz{
		margin-right: 2.75rem;
	 }
	 
	 .icon-bq:before {
		margin-right: 0.438rem;
	 }
	 
	 .bq{
		margin-right: 1.75rem;
	 }
	 
	 .icon-return:before{
		margin-right: 0.5rem;
	}
	.return{
		width: 3.5rem;
		height: 1.75rem;
	}
	
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 4px;  
    height: 4px;  
    background-color: #F6F6F6;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 2px #F6F6F6;  
    border-radius: 2px;  
    background-color: #F6F6F6;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 2px #F6F6F6;  
    background-color: rgba(187,187,187,.6);  
}  



